*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: #fafafa;
}

.imgshowback {
	height: 620px;
	width: 420px;
	background: url(../images/back_img.png);
	float: left;
	margin-top: 32px;
	margin-left: 263px;
}


.rightpanel {
	float: right;
	height: 630px;
	width: 450px;
	margin-right: 199px;
	margin-top: 50px;
}

.loginbox {
	height: 378px;
	width: 348px;
	background: #fff;
	float: left;
	border: 1px solid #dbdbdb;
	margin-top: 15px;
	margin-left: 2px;
}

.logo {
	padding: 29px 2px 0px 0px;
}

.user {
	height: 20px;
	width: 250px;
	margin-top: 31px;
	padding: 8px;
	border: 1px solid #dbdbdb;
	background: #fafafa;
	color: #8e8e8e;
	font-size: 12px;
	border-radius: 3px 3px 3px 3px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.password {
	height: 20px;
	width: 250px;
	margin-top: 6px;
	padding: 8px;
	border: 1px solid #dbdbdb;
	background: #fafafa;
	color: #8e8e8e;
	font-size: 12px;
	border-radius: 3px 3px 3px 3px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.submit {
	height: 30px;
	width: 268px;
	margin-top: 14px;
	padding: 8px;
	border: 1px solid #b2dffc;
	background: #b2dffc;
	color: #fff;
	font-size: 13px;
	border-radius: 4px 4px 4px 4px;
	font-family: Arial;
}

.submit:hover {
	background: #0095f6;
}

.lefline {
	color: #f5f0f0;
	float: left;
	width: 104px;
	margin-top: 23.5px;
	margin-left: 41px;
}

.rightline {
	color: #f5f0f0;
	float: right;
	width: 104px;
	margin-top: -10px;
	margin-right: 41px;
}

.or {
	text-align: center;
	padding: 20px 145px 0px 0px;
	font-weight: bold;
	font-size: 12px;
	color: #8e8e8e;
}

.small_fb {
	float: left;
	margin-top: 27px;
	margin-left: 94px;
}

.log_fb a {
	float: right;
	margin-top: 29px;
	margin-right: 96px;
	text-decoration: none;
	color: #385185;
	font-weight: bold;
	font-size: 13px;
}
.forgot_fb a {
	text-decoration: none;
	color: #385185;
	font-size: 12px;
	float: right;
	margin-top: 22px;
	margin-right: 125px;


}

.buttombox {
	height: 61px;
	width: 348px;
	background: #fff;
	float: left;
	border: 1px solid #dbdbdb;
	margin-top: 10px;
	margin-left: 2px;
}

.leftbottom {
	float: left;
	margin-top: 23px;
	margin-left: 81px;
	color: #262626;
	font-size: 13px;
	font-family: Tahoma;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.rightbottom a {
	float: right;
	margin-top: 22px;
	margin-right: 82px;
	color: #0095f7;
	font-size: 14px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	text-decoration: none;
}

@font-face {
	font-family: Tahoma;
	src: url(../Tahoma_Font/tahoma.ttf);
}

.gettheapp {
	height: 20px;
	width: 348px;
	float: left;
	margin-top: 10px;
	margin-left: 2px;
	text-align: center;
	padding: 11px 0px 0px 2px;
	font-size: 13.9px;
	font-family: Tahoma;
}

.isostore img {
	float: left;
	margin-top: 7px;
	margin-left: 35px;
	height: 40px;
	width: auto;
}

.playstore img {
	float: right;
	margin-top: 7px;
	margin-right: 35px;
	height: 40px;
	width: auto;
}

.appstore {
	height: 50px;
	width: 348px;
	float: left;
	margin-top: 10px;
	margin-left: 2px;
}

.top {
	height: 695px;
	width: 100%;
}

.buttom {
	height: 92px;
	width: 100%;
}

.buttom ul {
	display: flex;
	list-style-type: none;
	float: left;
	margin-top: 21px;
	margin-left: 92px;
}

.buttom ul li {
	padding: 5px 8px;
}

.buttom ul li a {
	text-decoration: none;
	color: #00376b;
	font-size: 11.5px;
}

.copy {
	float: right;
	color: #8e8e8e;
	font-size: 12px;
	margin-top: 26px;
	font-family: Arial;
	margin-right: 85px;
	padding: 3px;
}